.wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	min-height: 100vh;
	background-image: url("./../imgs/everaldo-coelho-2GW4S08kd-8-unsplash.jpg");
	background-size: cover;
	color: #fff;
	font-family: 'Poppins', sans-serif;
}

.page-header {
	flex-basis: 10vh;
	display: flex;
}

.page-main {
	flex-basis: 40vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.page-main__time {
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-main__time > .text {
	text-align: center;
	font-weight: 600;
	font-size: 150px;
	margin-top: 0;
	margin-bottom: 0;
}

.page-main__user {
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-main__user input {
	font-family: inherit;
	width: 100%;
	border: 0;
	border-bottom: 2px solid #fff;
	outline: 0;
	font-size: 1.5rem;
	color: #fff;
	padding: 10px 0;
	background: transparent;
	transition: border-color 0.2s;
}

.page-main__user > .greetings {
	font-size: 40px;
	margin-top: 0;
	margin-bottom: 0;
}

.page-footer {
	flex-basis: 40vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.page-footer input {
	font-family: inherit;
	width: 100%;
	border: 0;
	border-bottom: 2px solid #fff;
	outline: 0;
	font-size: 1.5rem;
	color: #fff;
	padding: 10px 0;
	background: transparent;
	transition: border-color 0.2s;
}

.todo-container {
	width: 500px;
	font-size: 18px;
	font-weight: 600;
}

.todo-container li {
	margin-top: 10px;
}

.btn-delete {
	margin-left: 15px;
}

form {
	width: 500px;
}

form label {
	font-size: 16px;
	text-transform: uppercase;
}

.is-hidden {
	display: none;
}
